@font-face {
    font-family: 'Roses Bolero';
    src: local('Roses Bolero'), local('Roses Bolero'),
        url('./Roses\ Bolero.otf') format('woff2');
  }
@font-face {
    font-family: 'KAIVALYA';
    src: local('KAIVALYA'), local('KAIVALYA'),
        url('./KaivalyaIkiikocom-0Wy9r.otf') format('woff2');
  }
@font-face {
    font-family: 'Southam';
    src: local('Southam'), local('Southam'),
        url('./Southam.ttf') format('woff2');
  }

  