@use "_vars.scss" as *;
body{
    background-color:$main-bg;
    position: relative;
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
    font-family: $main-font;
    letter-spacing: 2px;
}
/*-----------------------------------*\
  #RESET
\*-----------------------------------*/
::selection{
  background-color: $firstblue;
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a,
img,
span,
button,
a {
  color: inherit;
  text-decoration: none;
}
img {
  height: auto;
}
button {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

 /*-------- scroll bar-------------*\
 \*--------------------------------*/
::-webkit-scrollbar{width: 5px;}
::-webkit-scrollbar-thumb{background-color: #404448;}
::-webkit-scrollbar-track{background-color: #fff;}

/*-------- Reused Clases-------------*\
\*-----------------------------------*/

.container{
    padding-inline: 15px;
}
.section{
  padding-block: 40px;
  margin-bottom: 50px;
}


/*-------- data-reveal---------------*\
\*-----------------------------------*/

[data-reveal] {
  transform: translateY(50px);
  opacity: 0;
  transition: 1s ease;
}
[data-reveal="left"] {
  transform: translate(-50px, 0);
}
[data-reveal="right"] {
  transform: translate(50px, 0);
}
[data-reveal].revealed {
  transform: translate(0, 0);
  opacity: 1;
}